@import url("https://fonts.googleapis.com/css?family=Karla");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline {
  font: normal 16px/1.5 "Titillium Web", sans-serif;
  background: linear-gradient(54deg, #9164ff, #8bfff4);
  color: #3c3f64;
  overflow-x: hidden;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #eee;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.timeline ul li div time {
  position: absolute;
  background: #f5af19;
  width: 80px;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.timeline ul li div div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline ul li div div p {
  text-align: center;
}
.timeline ul li div .discovery {
  margin-right: 10px;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 80%;
    margin: 10px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
}
@media screen and (max-width: 600px) {
  body {
    background: #8bfff4;
  }

  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}
.heading,
#gallery {
  justify-content: center;
  align-content: center;
  width: 300px;
}

.heading {
  margin-bottom: 30px;
}
.heading h1 {
  margin: 0 auto 5px;
  letter-spacing: -2px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.heading span {
  font-size: 0.65em;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#gallery {
  position: relative;
  display: inline-block;
  margin: 30px 20px 0 0;
  height: 300px;
}
#gallery .photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  padding: 10px;
  background: linear-gradient(to bottom, #FFFFFF, #CFCFCF, #FFFFFF);
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
#gallery .photo:last-child {
  cursor: pointer;
}
#gallery .photo .imgContainer {
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
#gallery .photo .imgContainer img {
  max-width: 100%;
  height: auto;
}

.menuPlay0 nav {
  position: relative;
  padding-bottom: 12px;
}
.menuPlay0 nav .line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: #FF1847;
}
.menuPlay0 nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.menuPlay0 nav ul li {
  margin: 0 40px 0 0;
  opacity: 0.4;
  transition: all 0.4s ease;
}
.menuPlay0 nav ul li:hover {
  opacity: 0.7;
}
.menuPlay0 nav ul li.active {
  opacity: 1;
}
.menuPlay0 nav ul li:last-child {
  margin-right: 0;
}
.menuPlay0 nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
}

/*# sourceMappingURL=sass.css.map */
